.viewing{
    &-text{
        font-family: 'Open Sans';
        font-size: 36px;
        font-weight: 700;
        line-height: 49.03px;
        text-align: left;
        text-transform: uppercase;
        text-decoration-skip-ink: none;
        color: #227DA5;
    }
}