
.surervisorCont{
    margin-top: 100px;
    width: 100%;

    .imgCont{
        position: relative;
        width: 41%;

        img{
            width: 100%;
            object-fit: cover;
        }

        .supervName{
            position: absolute;
            background-color: #227DA5;
            color: #FFFFFF;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            padding: 16px 73px;
            width: 95%;

            p{
                width: 100%;
                text-align: center;
                font-size: 36px;
                line-height: 36px;
                font-weight: 700;
                font-family: "Bebas Neue";
            }
        }
    }

    .textCont{
        width: 59%;
        color: #227DA5;

        &__title{
            font-family: "Bebas Neue";
            font-weight: 700;
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 10px;
        }

        &__text{
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 22px;
        }

        &__textBold{
            font-weight: bold;
        }
    }

    .flexItem{
        gap: 20px;
    }
}