@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
  font-family: "Bebas Neue", sans-serif;

  .headerTop {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
    margin: 10px 0;
    padding: 10px;
    background: #E6ECF5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
      display: flex;
      align-items: center;
    }

    &_left {
      img {
        width: 60px;
        height: 60px;

      }

      h1 {
        width: 140px;
        font-size: 18px;
        font-weight: 900;
        line-height: 20px;
        color: #227DA5;
      }
    }

    &_right {
      color: #227DA5;

      button {
        color: #227DA5;
        border: none;
        background: transparent;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;
      }

      span {
        color: #227DA5;
        font-size: 19px;
        font-weight: 700;
      }

      p {
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
      }

      img {
        margin: 0 5px 0 30px;
      }


    }

    .socials {
      margin-left: 17px;
      background: #227DA5;
      border-radius: 10px;
      height: 39px;
      display: flex;
      align-items: center;
      padding: 5px;

      div {
        width: 25px;
        height: 25px;
        background: #fff;
        margin: 0 2.5px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: 0;
        }
      }
    }


  }

  .headerBottom {


    .header_menu {
      display: flex;

      flex-wrap: wrap;
      gap: 10px;

      .menu_item {
        margin: 20px auto;

      }

      .link {
        background: #227DA5;
        color: #fff;
        font-size: 19px;
        border-radius: 5px;
        padding: 15px 32px;
        font-weight: 700;
        line-height: 20px;
      }

      .dropdown_menu {
        transition: all 3s ease;
        position: absolute;
        width: auto;
        background: #227DA5;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0 10px 10px 10px;
        border-radius: 5px;
        z-index: 10;
        margin-top: 18px;

        .dropdown_link {
          white-space: nowrap;
          display: block;
          text-decoration: none;
          color: #227da5;
          font-size: 15px;
          padding: 8px;
          background: #fff;
          border-radius: 8px;
          margin-top: 10px;
        }
      }



    }

    .headerBottom_img {
      min-height: 248px;
      border-radius: 20px;
      background: url(../../shared/images/headerBottom.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 5px;

      img {
        width: 160px;
        height: 160px;
        margin: 0 10px;
      }

      h3 {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        color: #fff;

      }
    }
  }
}


@media (max-width: 1024px) {

  .header {

    .headerTop {
      flex-direction: column;

    }

    .socials {
      flex-wrap: wrap;
      height: auto !important;
    }

    .headerBottom {
      .headerBottom_img {
        flex-direction: column;
        padding: 20px 0;
      }


    }
  }
}

@media (max-width: 666px) {

  .header {
    background: url(../../shared/images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;

    .headerTop {
      background: transparent;

      h1 {
        color: #fff;
      }
    }


    .headerTop {
      flex-direction: unset;
      .burger-menu {

        display: flex !important;
        color: #fff;

        img {
          filter: brightness(0) invert(1);

        }

        .contact_info {
          &>div {
            display: flex;
            align-items: center;
            padding: 5px 0;
            margin-left: 0;

            img {
              margin-right: 5px;
            }
          }

          button {
            color: #227DA5;
            background: #fff;
            border: none;
            border-radius: 5px;
            padding: 2px 5px;
            text-align: center;
          }

          p {
            font-size: 19px;
          }

        }

        .menu_item {
          margin: 15px 0;
        }

        .socials {
          background: #fff;
          width: 130px;
          margin-top: 10px;

          div {
            background: #227DA5;

            img {
              margin-right: 0;
            }

          }
        }
      }
      &_right {
        display: none !important;

      }

    }

    .socials {
      flex-wrap: wrap;
      height: auto !important;
    }

    .headerBottom {
      .headerBottom_img {
        background: none;
      }
      .header_menu {

      .menu_item {
        width: 45%;
      }

      .link {
        height: 65px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100% !important;
      }

      .dropdown_menu {
      
        width: 45% ;
        background: #fff ;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 4px ;
        transition: all 3s ease;

        .dropdown_link {
          color: #fff;
          background: #227DA5;
          display: flex;
          align-items: center;
          justify-content: center;
        
        }
      }
    }
  }
}}