// .viewing{
//     .col-3{
//         .row{
//             align-items: center;
//         }
//     }
//     &-text{
//         font-family: 'Open Sans';
//         font-size: 36px;
//         font-weight: 700;
//         line-height: 49.03px;
//         text-align: left;
//         text-underline-position: from-font;
//         text-decoration-skip-ink: none;
//         color: #227DA5;
//     }
//     &-card{
//         .row{
//             align-items: center;
//         }
//         .col-9{
//             width: 75%;
//             padding: 0 15px;
//             .row{
//                 align-items: center;
//             }
//         }   
//         width: 100%;
//         margin: 20px auto;
//         padding: 13px;
//         border-radius: 20px;
//         box-shadow: 0px 2px 3px 0px #0000004D;
//         box-shadow: 0px 6px 10px 4px #00000026;        
//     }
//     &-img{
//         width: 100%;
//         border-radius: 30px;
//     }
//     &-calendar-img{
//         object-fit: contain;
//     } 
//     &-date{
//         font-family: 'SF Pro Display';
//         font-size: 18px;
//         font-weight: 400;
//         line-height: 21.48px;
//         text-align: left;
//         text-underline-position: from-font;
//         text-decoration-skip-ink: none;
//         color: #227DA5;
//     }
//     &-title{
//         display: block;  
//         font-family: 'Bebas Neue';
//         font-size: 34px;
//         font-weight: 700;
//         line-height: 34px;
//         text-align: left;
//         text-underline-position: from-font;
//         text-decoration-skip-ink: none;
//         color: #227DA5;    
//         margin-top: 13px;
//         margin-bottom: 9px;
//     }
//     &-description{
//         font-family: 'SF Pro Display';
//         font-size: 19.52px;
//         font-style: italic;
//         font-weight: 300;
//         line-height: 23.29px;
//         text-align: left;
//         text-underline-position: from-font;
//         text-decoration-skip-ink: none;  
//         width: 100%;      
//         color: #227DA5;
//         position: relative;
    
//     }
// }
// @media screen and (max-width: 1200px) {
//     .viewing{
//         &-card{
//             .row{
//                 align-items: center;
//                 .col-3{
//                     padding:  0;
//                 }
//             }
//         }
//         &-text{
//             font-size: 28px;
//         }
//         &-title{
//             font-size: 28px;
//         }
//         &-description{
//             font-size: 17px;
//         }
//     }
// }
// @media screen and (max-width: 992px) {
//     .viewing{
//         &-date{
//             font-size: 14px;
//         }
//         &-text{
//             font-size: 24px;
//         }
//         &-title{
//             font-size: 24px;
//             line-height: 24px;
//         }
//         &-description{
//             font-size: 14px;
//             line-height: 14px;
//         }
//     }
// }
// @media screen and (max-width: 768px) {
//     .viewing{
//         &-date{
//             font-size: 10px;
//         }
//         &-text{
//             font-size: 22px;
//         }
//         &-title{
//             font-size: 18px;
//             line-height: 18px;
//             margin-top: 5px;
//             margin-bottom: 5px;
//         }
//         &-description{
//             font-size: 10px;
//             line-height: 10px;
//         }
//     }
// }

// @media screen and (max-width: 576px) {
//    .viewing{
//         &-card{
//             .col-6{
//                 width: 50% !important;
//                 .row{
//                     align-items: center;
//                 }
//             }
//         }
//         &-date{
//             font-size: 14px;
//         }
//         &-text{
//             font-size: 20px;
//         }
//         &-title{
//             font-size: 20px;
//             line-height: 16px;
//             margin-top: 71px;
//             margin-bottom: 20px;
//         }
//         &-description{
//             font-size: 18px;
//             line-height: 18px;
//         }
//    }
// }








.base-components__parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 27px 0;
    
    &-block {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    
    &-itemGrand {
      display: flex;
      flex-direction: column;    
      box-shadow: 0px 2px 3px 0px #0000004d;
      box-shadow: 0px 6px 10px 4px #00000026;
      border-radius: 20px;
      position: relative;
      margin-top: 20px;
      padding: 13px;
      
      p {
        font-family: "SF Pro Display";
        font-size: 19.52px;
        font-style: italic;
        font-weight: 300;
        line-height: 23.29px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #227da5;
      }
      
      &-button {
        position: absolute;
        padding: 10px;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: none;
        font-size: 19.52px;
        font-style: italic;
        font-weight: 500;
        line-height: 23.29px;
        text-align: right;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #227da5;
        cursor: pointer;
      }
      
      &-description {
        display: none;
      }
    }
    
    &-item {
      display: flex;
      gap: 20px;
      
      &-blockOne {
        width: 30%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
      &-blockTwo {
        width: 70%;
        position: relative;
        &-data {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          justify-content: flex-start;
          h4 {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.48px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
        p {
          font-size: 19.52px;
          font-style: italic;
          font-weight: 300;
          line-height: 23.29px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #227da5;
        }
        h1 {
          font-size: 34px;
          font-weight: 700;
          line-height: 34px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #227da5;
          font-family: "Bebas Neue", sans-serif;
        }
      }
    }
  }
  
  
  @media (max-width: 1200px) {
    .base-components__parent {
      &-itemGrand {
        p {
          font-size: 17px;
          line-height: 20.29px;
          padding-bottom: 10px;
        }
    
      }
      &-item {
        display: flex;
        gap: 20px;
        &-blockOne {
          width: 316px;
          height: 263px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
          }
          
        }
        &-blockTwo {
          gap: 13px;
          &-data {
            p {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          
          }
          &-data-default {
            max-width: 873px;
            font-size: 19.52px;
            font-style: italic;
            font-weight: 300;
            line-height: 23.29px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
            display: block;
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
          }
        }
      }
    }
  }
  
  
  
  @media (max-width: 1024px) {
    .base-components__parent {
      &-itemGrand {
        padding: 39px 11px 35px 4px;
        p {
          font-size: 17px;
          line-height: 20.29px;
        }
        &-description {
          display: none;
        }
      }
      &-item {
        display: flex;
        gap: 20px;
        &-blockOne {
          width: 316px;
          height: 263px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
          }
        }
        &-blockTwo {
          gap: 13px;
          &-data {
            p {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            max-width: 873px;
            font-size: 19.52px;
            font-style: italic;
            font-weight: 300;
            line-height: 23.29px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
            display: block;
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
          }
        }
      }
    }
  }
  
  
  
  
  @media (max-width: 992px) {
    .base-components__parent {
      &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }
      &-itemGrand {
        padding: 10px;
        p {
          font-size: 17px;
          padding: 7px 0;
          line-height: 20.29px;
        }
        &-description {
          display: block;
        }
      }
      &-item {
        &-blockOne {
          width: 303px;
          height: 203px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }
  
  
  
  
  
  @media (max-width: 768px) {
    .base-components__parent {
      &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      &-itemGrand {
        padding: 10px;
        p {
          font-size: 17px;
          line-height: 20.29px;
        }
        &-description {
          display: block;
        }
      }
      &-item {
        &-blockOne {
          width: 363px;
          height: 203px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .base-components__parent {
      &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      &-itemGrand {
        padding: 10px;
        p {
          font-size: 17px;
          
          line-height: 20.29px;
        }
        &-description {
          display: block;
        }
      }
      &-item {
        &-blockOne {
          width: 303px;
          height: 193px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }
  
  @media (max-width: 430px) {
    .base-components__parent {
      gap: 10px;
      &-block {
        justify-content: space-between;
      }
      &-itemGrand {
        padding: 30px 20px;
        p {
          font-family: SF Pro Display;
          font-size: 18px;
          font-style: italic;
          font-weight: 300;
          line-height: 21.48px;
          padding: 0;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        &-description {
          display: block;
          margin-top: 30px;
        }
      }
      &-item {
        gap: 27px;
        &-blockOne {
          width: 75%;
          height: 175px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 21px;
            font-weight: 700;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .base-components__parent {
      gap: 10px;
      &-block {
        justify-content: space-between;
      }
      &-itemGrand {
        padding: 30px 20px;
        p {
          font-family: SF Pro Display;
          font-size: 18px;
          font-style: italic;
          font-weight: 300;
          line-height: 21.48px;
          padding: 0;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        &-description {
          display: block;
          margin-top: 30px;
        }
      }
      &-item {
        gap: 27px;
        &-blockOne {
          width: 85%;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 21px;
            font-weight: 700;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }
  
  @media (max-width: 320px) {
    .base-components__parent {
      &-block {
        justify-content: space-between;
      }
      &-itemGrand {
        padding: 30px 20px;
        &-button {
          font-family: SF Pro Display;
          font-size: 19.52px;
          font-style: italic;
          font-weight: 500;
          line-height: 23.29px;
          text-align: left;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        p {
          font-size: 16px;
          font-style: italic;
          font-weight: 300;
          line-height: 20.29px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        &-description {
          display: block;
          margin-top: 15px;
        }
      }
      &-item {
        gap: 27px;
        &-blockOne {
          width: 430px;
          height: 130px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
        &-blockTwo {
          &-data {
            h4 {
              font-size: 16px;
              font-weight: 400;
              line-height: 21.48px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
          }
          &-data-default {
            display: none;
          }
          h1 {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #227da5;
          }
        }
      }
    }
  }