.app-container {
    display: flex; 
    margin-top: 20px;

    .nav-container {
        width: 400px; 
        top: 0;
        left: 0;
    }
      
    .content {
        flex: 1; 
        padding: 0 20px;
    }
}
  
  
  