.app-container {
    display: flex; 
    margin-top: 20px;
    @media (max-width:576px) {
        display: flex;
        flex-direction: column;
    }
    .nav-container {
        width: auto; 
        top: 0;
        left: 0;
        @media (max-width:1200px) {
            width: auto;
        }

        @media (max-width:992px) {
            width: 40%;
        }

        @media (max-width:768px) {
            width: 45%;
          }

        @media (max-width:576px) {
            width: 90%;
        }

    }
      
    .content {
        flex: 1; 
        padding: 0 20px;
    }
}
  
  
  