.gallery {
    padding: 100px 0;

    .gallery_menu {
        display: flex;
        gap: 15px;
        margin-bottom: 88px;

        .gallery_menu_btn {
            padding: 10px 20px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #E6ECF5;
            color: #227DA5;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 700;
            font-size: 20px;

            &.active {
                background: #227DA5;
                color: #fff;
                border-color: #227DA5;
            }
        }
    }

    .gallery_content {
        .photo_gallery {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;



            div {
                width: 420px;
                height: 450px;
                margin: 10px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                img {
                    border-radius: 20px;
                    width: 420px;
                    height: 450px;
                }
            }
        }

        .photo3d_gallery {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .photo3_card {

                img {
                    width: 420px;
                    height: 350px;
                    border-radius: 12px;
                    margin: 10px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: flex-end;
                    //   0 100  сол жагы асты   .  0 0  сол   усту   . 100  0   усту  он .   


                    // clip-path: polygon(100.00% 0.00%,100.00% 70.47%,99.48% 72.09%,98.97% 73.42%,98.32% 74.45%,98.09% 74.79%,97.57% 75.13%,97.11% 75.58%,96.66% 76.03%,96.35% 76.13%,96.05% 76.24%,95.26% 76.58%,94.33% 76.51%,93.17% 76.48%,92.27% 76.25%,91.49% 76.15%,90.84% 75.85%,89.95% 75.53%,89.04% 75.54%,87.86% 75.77%,86.59% 76.16%,85.82% 76.64%,85.24% 77.09%,84.90% 77.42%,84.00% 78.18%,83.01% 79.51%,82.65% 80.25%,82.08% 81.38%,81.92% 81.81%,81.57% 82.64%,81.15% 83.64%,80.96% 84.54%,80.88% 85.39%,80.80% 86.07%,80.71% 87.52%,80.80% 88.43%,81.11% 89.18%,81.16% 89.83%,81.26% 90.41%,81.44% 90.91%,81.55% 91.45%,81.61% 92.02%,81.64% 92.69%,81.63% 93.49%,81.55% 94.24%,81.35% 94.87%,81.24% 95.53%,81.13% 95.94%,80.25% 97.08%,79.91% 97.82%,79.54% 98.46%,79.01% 99.15%,77.63% 100.00%,75.83% 100%,0.00% 100.00%,0.00% 0.00%);

                    // clip-path: polygon(0.00% 0.00%,100.00% 0.00%,100.00% 70.96%,99.12% 72.86%,98.38% 74.00%,97.71% 74.84%,96.57% 75.87%,95.51% 76.34%,94.42% 76.57%,92.80% 76.34%,91.73% 75.85%,90.65% 75.62%,89.71% 75.66%,88.83% 75.64%,88.00% 75.92%,87.13% 76.23%,86.47% 76.56%,85.95% 76.72%,85.42% 77.01%,84.93% 77.49%,84.36% 77.96%,83.97% 78.36%,83.48% 78.77%,82.91% 79.52%,82.56% 80.20%,82.02% 81.13%,81.62% 81.98%,81.16% 83.21%,80.96% 83.69%,80.76% 84.45%,80.79% 84.95%,80.62% 86.05%,80.71% 87.12%,80.81% 87.78%,80.86% 88.49%,81.19% 89.87%,81.38% 90.10%,81.20% 90.64%,81.59% 91.67%,81.57% 92.22%,81.62% 93.49%,81.57% 94.32%,81.08% 95.97%,80.58% 96.92%,80.07% 97.52%,79.25% 98.71%,78.57% 99.31%,77.97% 99.70%,77.42% 100%,0.00% 100%);
                    // clip-path: polygon(0.00% 0.00%,100.00% 0.00%,100.00% 70.96%,99.12% 72.86%,98.38% 74.00%,97.71% 74.84%,96.57% 75.87%,95.51% 76.34%,94.42% 76.57%,92.80% 76.34%,91.73% 75.85%,90.65% 75.62%,89.71% 75.66%,88.83% 75.64%,88.00% 75.92%,87.13% 76.23%,86.47% 76.56%,85.95% 76.72%,85.42% 77.01%,84.93% 77.49%,84.36% 77.96%,83.97% 78.36%,83.48% 78.77%,82.91% 79.52%,82.56% 80.20%,82.02% 81.13%,81.62% 81.98%,81.16% 83.21%,80.96% 83.69%,80.76% 84.45%,80.79% 84.95%,80.62% 86.05%,80.71% 87.12%,80.81% 87.78%,80.86% 88.49%,81.19% 89.87%,81.21% 90.21%,81.46% 91.51%,81.54% 92.18%,81.62% 93.49%,81.57% 94.32%,81.08% 95.97%,80.58% 96.92%,80.07% 97.52%,79.25% 98.71%,78.57% 99.31%,77.97% 99.70%,77.42% 100%,0.00% 100%);
                 
                 //end
                    clip-path: polygon(0.00% 0.00%,100.00% 0.00%,99.94% 70.70%,99.43% 72.78%,98.94% 73.85%,98.61% 74.65%,97.40% 75.60%,96.68% 76.23%,95.54% 76.41%,94.42% 76.57%,92.80% 76.34%,91.73% 75.85%,90.65% 75.62%,89.71% 75.66%,88.83% 75.64%,88.00% 75.92%,87.13% 76.23%,86.47% 76.56%,85.95% 76.72%,85.42% 77.01%,84.93% 77.49%,84.36% 77.96%,83.97% 78.36%,83.48% 78.77%,82.91% 79.52%,82.56% 80.20%,82.02% 81.13%,81.62% 81.98%,81.16% 83.21%,80.96% 83.69%,80.76% 84.45%,80.79% 84.95%,80.62% 86.05%,80.71% 87.12%,80.81% 87.78%,80.86% 88.49%,81.19% 89.87%,81.21% 90.21%,81.46% 91.51%,81.54% 92.18%,81.62% 93.49%,81.57% 94.32%,81.08% 95.97%,80.58% 96.92%,80.07% 97.52%,79.25% 98.71%,78.57% 99.31%,77.97% 99.70%,77.42% 100%,0.00% 100%);
                

                

            }

            div {
                padding: 10px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: -100px;
            }


            h4 {
                backdrop-filter: blur(2px);
                // z-index:  13;
                 margin-left: 10px;
                padding: 10px;
                color: #fff;
                font-weight: 700;
                font-size: 26px;
            }

            .threeD {
                background: #227DA5;
                color: #fff;
                border-radius: 50%;
                width: 65px;
                height: 65px;
                margin-top: 10px;
                display: flex;
                border: none;
                align-items: center;
                justify-content: center;

                img {
                    width: 45px;
                    height: 30px;
                }
            }
        }
    }
}
}

// .modal {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.8);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1000;
//     cursor: pointer;
// }

// .modal iframe {
//     max-width: 70%;
//     max-height: 70%;
// }

@media (max-width: 1024px) {
    .gallery_menu{
        flex-wrap: wrap;
    }
}